<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net40" />
  <package id="Fody" version="6.2.0" targetFramework="net40" developmentDependency="true" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net40" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net40" />
  <package id="log4net" version="2.0.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="NPOI" version="2.5.1" targetFramework="net40" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="sqlSugar" version="4.9.9.11" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net40" />
  <package id="ToolGood.Words" version="3.0.1.2" targetFramework="net40" />
  <package id="xxw.Config" version="1.0.10" targetFramework="net40" />
  <package id="xxw.Licence" version="1.0.7" targetFramework="net40" />
  <package id="xxw.Logs" version="1.0.15" targetFramework="net40" />
  <package id="xxw.Sockets" version="1.1.5" targetFramework="net40" />
  <package id="xxw.utilities" version="1.0.19" targetFramework="net40" />
</packages>