<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net40" />
  <package id="Fody" version="6.2.0" targetFramework="net40" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="xxw.Config" version="1.0.10" targetFramework="net40" />
  <package id="xxw.Licence" version="1.0.7" targetFramework="net40" />
  <package id="xxw.Logs" version="1.0.15" targetFramework="net40" />
  <package id="xxw.Sockets" version="1.1.5" targetFramework="net40" />
  <package id="xxw.TraceDataFormat" version="1.0.12" targetFramework="net40" />
  <package id="xxw.utilities" version="1.0.19" targetFramework="net40" />
</packages>